@font-face {
    font-family: 'Signika', sans-serif;
    src: url('Signika/Signika-Regular.ttf') format('truetype');
}

body {
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    background-color: #7e7e7e;
    color: #f2f2f2;
    font-size: 2.3rem;
    margin: 0;
    margin-right: 400px;
    margin-left: 100px;
}

span {
    position: fixed;
    text-align: justify;
    width: 80%;
}

p {
    font-weight: bold;
}
